/* Custom Font */
@font-face {
    font-family: "cyberpunkfont";
    src: url("assets/fonts/cyberpunkfont.otf");
}
@font-face {
    font-family: "quotefont";
    src: url("assets/fonts/quotefont.ttf");
}
/* Global Styling */ 
body{
    background-color: beige;
}

/* Nav Bar Styling */
.navbar-brand{
    color: white;
}
.nav-link{
    color: white;
}